# Backend environment variables example
MONGO_URI=mongodb://localhost:27017/appcarc?replicaSet=rs0
PORT=3001
JWT_SECRET=your_jwt_secret_here
GOOGLE_SHEETS_SOCIOS_ID=your_google_sheet_id
GOOGLE_SHEETS_SOCIOS_SHEET_NAME=Socios
DEFAULT_CLUB_ID=your_default_club_id
REDIS_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
