# Node
node_modules/
dist/
.env
.env.local
npm-debug.log
*.log

# Google credentials
google-credentials.json
client_secret*.json

# Docker & Data
data/
mongo-data/

# Binarios / APKs
public/downloads/

# Mac
.DS_Store

# Windows
Thumbs.db
